<template id="tweet-template">
    <article class="tweet">
        <div class="tweet-content">
            <div class="title-tweet-container">
                <div class="logo">
                    <img class="img-logo" src="../../images/logo con borde.png" alt="">
                    <p class="title-typography-gameplay tweet-username">GAMIX</p>
                </div>
                <img class="verified-img" src="../../images/verificado.png" alt="">
            </div>
            <div class="tweet-text-container">
                <p class="typography-description tweet-text">
                    <!-- Texto del tweet -->
                </p>
            </div>
        </div>

        <div class="tweet-information-container">
            <p class="title-typography-gameplay tweet-information"> 
                <span class="tweet-date"><!-- Fecha y Horal del tweet --></span> 
                Twitter Web App
            </p>
        </div>
    </article>
</template>