/* -----------------------------------CONTENEDORES PRINCIPALES */
#carouseles-container-1, #most-liked {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding-left: 12px; */
  margin-bottom: 10px;
}

#games{
  margin-bottom: 30px;
}

/* -------------------- Divisores ----------------------- */
.title-typography-home{
  font-family: var(--font-base);
  font-size: var(--font-size-medium);
  color: var(--secondary-200);
  font-weight: bold;

  margin: 0px 0px;
  text-align: center;     
}

.most-liked-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: fit-content;
  height: fit-content;
  gap: 10px;
  padding: 0 18px;
}

.img-recommended-community {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-x: auto; /*permite desplazarce en el eje x*/
  scroll-snap-type:x mandatory; /*al deslizar, siempre se detendra en una imagen completa*/
  scrollbar-width: none; /*oculta scrollbar en Firefox*/
}

.img-recommended-community::-webkit-scrollbar{ display: none; }

.img-recommended-community img {
  flex:0 0 auto;
  max-width: 350px;
  max-height: 180px;
  border-radius: 10px;
  /* aspect-ratio: 16/9; */
  /* height: auto; */
  
  scroll-snap-align: center; /*centra las imagenes al soltar el swipe*/
  transition: transform 0.3 ease, opacity 0.3 ease;
}


.decoration-bar-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 30px;
  gap: 10px;
  
}

.logo-and-phrase {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: fit-content;
  height: fit-content;
  gap: 10px;
  margin-right: 70px;
}

.logo-and-phrase img {
  width: 80px;
  height: 80px;
}

.logo-and-phrase p {
  max-width: 30ch; 
}

/* --------------------------- BLOQUE DE INFORMACIÓN --------------------------- */
.information-on-the-home-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.information-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.img-home-divider {
  width: 42px;
  height: 42px;
}
 
@media (min-width:768px) {
  .img-recommended-community{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    overflow-x: hidden; /*remueve el scroll horizontal*/
    gap:10px;
    overflow: visible;
  }

  .img-recommended-community img{
    aspect-ratio: 3/5;
    border-radius: 10px;
    max-width: none;
    max-height: none;
  }

  .decoration-bar-home{
    flex-direction: row;
    gap: 130px;
  }

  .information-on-the-home-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: fit-content;
    height: fit-content;
    gap: 50px;
    box-sizing: border-box;
  }
 
}