<template id = "carousel-template">

  <div class="carousel-container">
      <button class="carousel-btn left">&lt;</button>
      <div class="carousel">
        <!-- renderizado de lista de "game-card" -->
      </div>
      <button class="carousel-btn right">&gt;</button>
  </div>

</template>

<template id = "carousel-item-template">

  <a href="#" class="game-card">
    <img src="URL-img" alt="Nombre del Juego: ">
    <div class="game-info">
      <h3>Nombre del Juego..</h3>
    </div>
  </a>

</template>
