 <template id = "carousel-template">
  <div class="carousel-container">
  <button class="carousel-btn left">&lt;</button>
  <div class="carousel">
    <div class="carousel-track">
      <!-- cards -->
    </div>
  </div>
  <button class="carousel-btn right">&gt;</button>
</div>
</template>

<template id = "carousel-item-template">

  <a href="#" class="game-card">
    <img src="URL-img" alt="Nombre del Juego: ">
    <div class="game-info">
      <h3>Nombre del Juego..</h3>
    </div>
  </a>

</template>

<template id="carousel-grid-game-card-template">
  
    <div class="game-grid">
      <!-- Las .game-card (de carousel-item-template) se insertarán aquí dinámicamente -->
    </div>
 
</template>
