<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamix</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<!-- HEADER CON BUSQUEDA Y SECCIÓN DE USUARIO -->

<body>
  <header class="header">
    <div class="header-left">
      <button class="header-menu-btn" aria-label="Abrir menú de navegación">
        <span class="header-menu-icon">&#9776;</span>
      </button>

      <a href="#" class="header-logo">
        <img src="/TP2/images/logo-gamix-redondeado.png" alt="Logo de Gamix" class="header-logo-img">
        <span class="header-logo-text">Gamix</span>
      </a>
    </div>

    <form class="header-search" role="search">
      <label for="search-input" class="visually-hidden">Buscar juegos</label>
      <input id="search-input" type="search" placeholder="¿A qué jugamos hoy?">
      <button type="submit" aria-label="Buscar">&#128269;</button>
    </form>

    <div class="header-right">
      <a href="#" class="header-icon-link" aria-label="Mis favoritos">
        <img src="/TP2/images/icon-favorito.png" alt="Logo favorito" class="header-icon">
      </a>

      <div class="header-user">
        <img src="/TP2/images/user-logo.png" alt="Avatar del usuario" class="header-user-avatar">
        <span class="header-user-status"></span>
      </div>
    </div>
  </header>

  <div class="profile-card">
    <div class="profile-info">
      <div class="avatar-container">
        <img src="/TP2/images/user-logo.png" alt="Avatar del usuario" class="profile-avatar">
      </div>
      <h2 class="username">@Usuario</h2>
      <p class="email">usuario@gmail.com</p>
    </div>

    <div class="actions">
      <button class="profile-btn">
        <i class="fa-solid fa-user"></i>
        <span>Perfil</span>
      </button>
      <button class="edit-btn">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </div>

    <div class="footer-profile">
      <button class="footer-btn">
        <i class="fa-solid fa-gear"></i>
        <span>Configuración</span>
      </button>

      <a href="#" class="footer-btn">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </div>

  <script src="/TP2/components/header/header.js"></script>
  <script src="header.js"></script>

</body>

</html>