.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

/* SIDEBAR COMPLETO DESPLEGABLE Y NO DESPLEGABLE */

.sidebar {
    background-image: linear-gradient(to bottom, var(--primary-600), var(--primary-700));
    position: absolute;
    top: 51px;
    height: 100vh;
    z-index: 1000;
    width: 50px;
    padding: 15px 0;
    transition: width 0.3s ease-in-out;
    /* overflow-x: hidden;  */
}
.sidebar::-webkit-scrollbar{
    display: none; 
}
.sidebar-title,
.sidebar-list-item span:not(.icon) {
    display: none;
    opacity: 0;
    transition: opacity 0.1s;
}

.sidebar-list-item {
    justify-content: center;
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar-list-item i,
.sidebar-list-item .icon {
    min-width: 24px;
    text-align: center;
    padding: 2px 0;
}

.sidebar.active {
    width: 140px;
    padding: 15px;
}

.sidebar.active .sidebar-title,
.sidebar.active .sidebar-list-item span {
    display: initial;
    opacity: 1;
    padding: 5px 0;
}

.sidebar.active .sidebar-list-item {
    justify-content: flex-start;
    padding: 4px 5px;
    gap: 8px;
    transition: background-image 0.3s ease;
    color: var(--grey-300);
}

.sidebar-title {
    font-size: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #ccc;
}

.sidebar-list {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0px;
}

.sidebar-list-item:hover {
    background-image: linear-gradient(to top, var(--primary-300), var(--primary-700));
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(54, 96, 146, 0.9);
    cursor: pointer;
    color: #FFFFFF;
}
.sidebar-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    cursor: pointer;
    color: #fff;
}

.icon {
    font-size: 15px;
}

.divider {
    height: 1px;
    background: linear-gradient(to right, transparent, #777, transparent);
    margin: 15px 0;
}