<template id="comment-template">
    <article class="comment">
        <div class="information-comment">
            <div class="user-information">
                <img src="images/usuario random.png" alt="">
                <div class="name-and-day">
                    <p class="title-typography-gameplay name-user">
                        <!-- Nombre de usuario -->
                    </p>
                </div>
            </div>

            <div class="like-post">
                <p class="typography-description like-count"> 
                    <span class="number-of-likes">
                        <!-- Cantidad de Likes -->
                    </span> 
                    Likes
                </p>
                <div class="interactions">
                    <button class="likeCommentBtn"> <img src="images/me gusta.png" alt="Me gusta"> </button>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="post-description">
                <p class="typography-description comment-description">
                    <!-- Comentario -->
                </p>
            <button> <img src="images/responder.png" alt=""> </button>
        </div>

        <p class="typography-description publication-day">
            <!-- Dia de publicacion -->
        </p>
    </article>
</template>